<% include ./partials/header %>

<div class="container">
    <div class="row outer">
        <div class="col-md-6 col-sm-12 inner">
            <h1>Sign Up!</h1>
            <form action="/register" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="email" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="country" placeholder="country">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="age" placeholder="age">
                </div>
                    <button class=" btn btn-success">Sign Up</button>
            </form>
        </div>
    </div>
</div>


<% include ./partials/footer %>