<% include ../partials/header %>
<div class="container">
    <div class = "row">
        <h1>Add the album you like</h1>
        <div>
            <form action="/albums" method="POST">
              <div class="form-group">
                <label for="albumName">Album title</label>
                <input type="text" class="form-control" id="albumName" name="newAlbum[title]" placeholder="Album title">
              </div>
              <div class="form-group">
                <label for="albumArtist">Artist</label>
                <input type="text" class="form-control" id="albumArtist" name="newAlbum[artist]" placeholder="Artist">
              </div>
              <div class="form-group">
                <label for="albumYear">Year it was created</label>
                <input type="text" class="form-control" id="albumyear" name="newAlbum[year]" placeholder="Year">
              </div>
              <div class="form-group">
                <label for="albumCover">Year it was created</label>
                <input type="text" class="form-control" id="albumCover" name="newAlbum[cover]" placeholder="Pic cover url">
              </div>
              <div class="form-group">
                <label for="albumDesc">Description</label>
                <input type="text" class="form-control" id="albumDesc" name="newAlbum[description]" placeholder="Description">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
